/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .bg-main {
        width: 50px;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .header-right {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .bg-main {
       width: 100px; 
    }
}