.jumbotron-mus {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #e9ecef;
	border-radius: .3rem;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/**
	CSS OLEH MUS PRIANDI
	
	CLASS DIBAWAH HANYA AKTIF KETIKA DIAPIT OLEH ELEMENT DENGAN KELAS 'jumbotron-mus'
*/

.jumbotron-mus .text-center {
	text-align: center;
}

.jumbotron-mus .text-left {
	text-align: left;
}

.jumbotron-mus .text-muted {
	color: #6c757d;
}

.jumbotron-mus .text-dark {
    color: #343a40;
}

.jumbotron-mus .text-success {
    color: #28a745;
}

.jumbotron-mus .mb-0 {
	margin-bottom: 0;
}

.jumbotron-mus .mt-0 {
	margin-top: 0;
}

.jumbotron-mus .my-2 {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.jumbotron-mus .my-1 {
	margin-top: .25rem;
	margin-bottom: .25rem;
}

.jumbotron-mus .justify-content-center {
	-ms-flex-pack: center;
	justify-content: center;
}

.jumbotron-mus .row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}


.jumbotron-mus .col-md-4 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 768px) {
	.jumbotron-mus .col-md-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
}

.jumbotron-mus .card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
}

.jumbotron-mus .card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: 1px;
	padding: 1.25rem;
}

.jumbotron-mus .box-banyangan {
	cursor: pointer;
	transition: 0.5s;
	border: 1.5px solid transparent;
	box-shadow: 5px 8px 8px rgba(0,0,0,.1);
}

.jumbotron-mus .box-banyangan:hover {
	transition: 0.5s;
	border: 1.5px solid #007bff;
	box-shadow: 0 0 3px #007bff;
}

.jumbotron-mus .box-tumpul {
	border-radius: 10px;
}


.jumbotron-mus .align-items-center {
	-ms-flex-align: center;
	align-items: center;
}

.jumbotron-mus .justify-content-between {
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.jumbotron-mus .d-flex {
	display: -ms-flexbox;
	display: flex;
}
