body {
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.tm-handwriting-font {
    font-family: 'Damion', cursive;
}


/* Header by Dany */

.tm-top-header {
    height: 85px;
    width: 100%;
    background: black;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1001;
}


.tm-site-logo,
.tm-site-name {
    vertical-align: bottom;
}

.tm-site-name {
    color: #c79c60;
    display: inline-block;
    font-size: 32px;
    margin: 0 10px;
}

.tm-logo-container {
    padding: 10px 0;
}

.tm-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
}

.tm-nav li {
    list-style: none;
    float: left;
}

.tm-nav li a {
    color: white;
    display: inline-block;
    padding: 15px 15px 20px 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tm-nav li a:hover,
.tm-nav li a:focus,
.tm-nav li a.active {
    color: #c79c60;
    text-decoration: none;
}

.tm-nav li a.active {
    background: url(../images/logo.png) no-repeat, url(../images/nav-underline.png) no-repeat;
    background-size: 20px, 74px 17px;
    background-position: 0% 30%, center bottom;
}

.tm-top-header-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mobile-menu-icon {
    display: none;
}

.tm-section {
    margin-bottom: 60px;
}

.tm-section-margin-bottom-0 {
    margin-bottom: 0;
}


/* Welcome */

.tm-welcome-section {
    background: #282726;
    text-align: center;
}

.white-text {
    color: white;
}

.blue-text {
    color: #0066CC;
}

.gold-text {
    color: #c79c60;
}

.gray-text {
    color: #949494;
}

.green-text {
    color: #30A430;
}

.tm-welcome-header {
    font-size: 56px;
    margin:50px;
}

.tm-welcome-header-2 {
    display: block;
    height: auto;
}

.tm-welcome-content {
    margin: 150px auto 350px;
    max-width: 650px;
}

.tm-welcome-description {
    text-align: justify;
}

.tm-welcome-img-container {
    text-align: right;
}

.tm-more-button-welcome {
    margin: 40px auto;
}

.tm-more-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(../images/tm-brown-button.png);
    width: 196px;
    height: 46px;
    text-transform: uppercase;
    font-size: 16px;
    color: #c79c60;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tm-more-button:hover,
.tm-more-button:focus {
    color: white;
    text-decoration: none;
}

.tm-position-relative {
    position: relative;
}

.tm-table-set {
    position: absolute;
    bottom: -100px;
    left: 0;
}

.tm-lights-container {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}


/* Main content */

.light-gray-bg {
    background-color: #e4e4e4;
}

.tm-main-section {
    padding-top: 170px;
}

.img-thumbnail {
    padding: 8px;
}

.inline-block {
    display: inline-block;
}

.shadow-img {
    background: url(../images/shadow.png) no-repeat center bottom;
    padding-bottom: 7px;
}

.margin-top-30 {
    margin-top: 30px;
}


/* Footer */

.tm-black-bg {
    background-color: #302f2f;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tm-footer-div-title {
    color: white;
    font-size: 21px;
    font-weight: 700;
}

.margin-top-15 {
    margin-top: 15px;
}

.copyright-text {
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.img-respon {
    width: 100%;
    height: auto;
}


/* HTML FlexBox */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}